In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=  sns.load_dataset('iris')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
X = df.drop(columns='species')
y = df['species']

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [11]:
history = model.fit(x_train, y_train)

In [8]:
model.score(x_test, y_test) * 100

90.0

In [9]:
model.predict([[5.1,3.5,1.4,0.2]])

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array(['setosa'], dtype='<U10')

In [16]:
y_test

77     versicolor
65     versicolor
125     virginica
129     virginica
28         setosa
116     virginica
61     versicolor
18         setosa
99     versicolor
146     virginica
4          setosa
54     versicolor
70     versicolor
48         setosa
103     virginica
138     virginica
45         setosa
149     virginica
15         setosa
123     virginica
81     versicolor
34         setosa
42         setosa
11         setosa
106     virginica
96     versicolor
0          setosa
147     virginica
24         setosa
126     virginica
Name: species, dtype: object